In [1]:
import pandas as pd

In [31]:
jokes_df  = pd.read_csv(r'C:\Users\ameyd\Desktop\IIITD\SEM 5\ML\Project\dataset\joke_text.csv')

df1 = pd.read_excel('C:\\Users\\ameyd\\Desktop\\IIITD\\SEM 5\\ML\\Project\\dataset\\jester-data-1.xls', header=None, index_col=None)
df2 = pd.read_excel('C:\\Users\\ameyd\\Desktop\\IIITD\\SEM 5\\ML\\Project\\dataset\\jester-data-2.xls', header=None, index_col=None)
df3 = pd.read_excel('C:\\Users\\ameyd\\Desktop\\IIITD\\SEM 5\\ML\\Project\\dataset\\jester-data-3.xls', header=None, index_col=None)
ratings_df  = pd.concat([df1, df2, df3], ignore_index=True)

In [8]:
jokes_df.iloc[:,1]

0     A man visits the doctor. The doctor says "I ha...
1     Two cannibals are eating a clown, one turns to...
2     Q: Whats the difference between greeting a Que...
3     Q. What do a hurricane, a tornado, and a redne...
4     A guy stood over his tee shot for what seemed ...
                            ...
95    Just a thought ..  Before criticizing someone,...
96    Two attorneys went into a diner and ordered tw...
97    A teacher is explaining to her class how diffe...
98    Age and Womanhood  1. Between the ages of 13 a...
99    A bus station is where a bus stops. A train st...
Name: Text, Length: 100, dtype: object

In [6]:
ratings_df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73416,21,99.00,99.00,99.00,99.00,5.78,8.45,99.00,8.20,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
73417,16,99.00,99.00,99.00,99.00,5.24,99.00,99.00,5.68,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
73418,35,99.00,99.00,99.00,99.00,-3.93,99.00,-9.03,-2.67,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
73419,21,99.00,99.00,99.00,99.00,9.42,9.66,99.00,9.17,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
73420,35,99.00,99.00,99.00,99.00,0.19,99.00,-1.50,7.82,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00

In [65]:
jokes_df.iloc[2,1]

'Q: Whats the difference between greeting a Queen and greeting the President of the United  States?  A: You only have to get on one knee to greet the queen.'

# Average Rating if only people that voted all jokes mattered

In [116]:
# ratings_df = ratings_df.drop(ratings_df.columns[0], axis=1)
ratings_df = ratings_df[~(ratings_df == 99).any(axis=1)]
ratings_df.describe()
# ratings_df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
count,14116.0,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,...,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000,14116.000000
mean,100.0,1.325204,0.586373,0.495916,-1.086345,0.437679,1.552788,-0.246153,-0.290137,-0.221738,...,2.242611,1.401003,2.583723,1.408738,1.287397,1.701317,1.795997,1.048907,0.180161,1.157168
std,0.0,5.115485,5.533142,5.371745,5.233788,5.228322,4.871420,5.472058,4.901709,5.127151,...,5.062386,5.120330,4.588954,5.155950,5.167159,4.817724,5.007766,5.322968,5.203852,5.278918
min,100.0,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,...,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000
25%,100.0,-2.040000,-3.880000,-3.790000,-5.440000,-3.640000,-1.310000,-4.900000,-4.270000,-4.270000,...,-0.680000,-2.040000,-0.050000,-1.990000,-2.230000,-1.020000,-1.070000,-2.820000,-3.930000,-2.620000
50%,100.0,1.990000,1.260000,0.970000,-0.920000,1.170000,2.040000,0.100000,0.100000,0.150000,...,3.110000,2.090000,3.200000,2.090000,1.990000,2.280000,2.520000,1.700000,0.580000,1.890000
75%,100.0,5.390000,5.190000,4.850000,2.860000,4.560000,5.440000,4.130000,3.450000,3.640000,...,6.360000,5.580000,6.170000,5.580000,5.440000,5.440000,5.780000,5.440000,4.170000,5.490000
max,100.0,9.370000,9.370000,9.370000,9.370000,9.370000,9.370000,9.370000,9.370000,9.370000,...,9.370000,9.420000,9.370000,9.420000,9.370000,9.370000,9.370000,9.370000,9.370000,9.370000

In [34]:
# Calculate the mean of every column
mean_ratings = ratings_df.mean()

# Create a new DataFrame with mean ratings and a column from 1 to 100
result_df = pd.DataFrame({'Joke Number': range(1, len(mean_ratings) + 1), 'Average Rating': mean_ratings})

# Save the DataFrame to a CSV file without including the index
result_df.to_csv('mean_ratings_columns.csv', index=False, header=['Joke Number', 'Average Rating'])

# MY OWN MODEL FEATURES

In [68]:
import spacy
import pandas as pd

# Function to create strings with overlap, lemmatize, and store the results
def create_strings_with_overlap(paragraph, overlap=3, words_per_string=8):
    words = paragraph.split()

    result_strings = []
    for i in range(0, len(words) - words_per_string + 1, words_per_string - overlap):
        result_strings.append(' '.join(words[i:i+words_per_string]))

    # Include the remaining words at the end
    remaining_words = words[-(words_per_string-overlap):]
    if remaining_words:
        result_strings.append(' '.join(remaining_words))

    return result_strings

nlp = spacy.load("en_core_web_sm")

# Function to lemmatize text and remove stop words
def lemmatize_text(text):
    doc = nlp(text)
    lemmatized_text = " ".join([token.lemma_ for token in doc if (
        not token.is_stop or token.text.lower() in ['no', 'not']) and not token.is_punct])
    return lemmatized_text

# Function to create strings with overlap, lemmatize, and store the results
def process_jokes(row):
    joke_number = row['Joke Number']
    text = row['Text']

    # Replace "Q." with "question" and "A." with "answer"
    text = text.replace('Q.', 'question').replace('A.', 'answer').replace('q.', 'question').replace('a.', 'answer').replace('q:', 'question').replace('a:', 'answer')

    # Remove stop words
    text = ' '.join([word for word in text.split() if word.lower() not in nlp.Defaults.stop_words])

    # Create strings with overlap
    strings_with_overlap = create_strings_with_overlap(text)

    # Lemmatize each string
    lemmatized_strings = [lemmatize_text(string) for string in strings_with_overlap]

    # Create a new DataFrame for the results
    result_data = {'Index': list(range(1, len(lemmatized_strings) + 1)),
                   'Joke Number': [joke_number] * len(lemmatized_strings),
                   'Lemmatized Text': lemmatized_strings}

    result_df = pd.DataFrame(result_data)
    return result_df

# Apply the processing function to each row in jokes_df
processed_dfs = jokes_df.apply(process_jokes, axis=1)

# Concatenate the results into a single DataFrame
result_df = pd.concat(processed_dfs.tolist(), ignore_index=True)

# Save the DataFrame to a CSV file
result_df.to_csv('lemmatized_jokes.csv', index=False)

# Display the new DataFrame
print(result_df)

     Index  Joke Number                                    Lemmatized Text
0        1            1               man visit doctor doctor say bad news
1        2            1              bad news cancer Alzheimer disease man
2        3            1       Alzheimer disease man reply thank God cancer
3        4            1                             reply thank God cancer
4        1            2            cannibal eat clown turn say taste funny
..     ...          ...                                                ...
602     10           99  point interest 5 56 like Australia nbsp;&nbsp;...
603     11           99  Australia nbsp;&nbsp;&nbsp;&nbsp;Everybody kno...
604     12           99                                     know give damn
605      1          100      bus station bus stop train station train stop
606      2          100                       train stop desk work station

[607 rows x 3 columns]

# Extract the 50 new jokes

In [112]:
import pandas as pd

# Path to the Excel file
excel_file_path = r"C:\Users\ameyd\Desktop\IIITD\SEM 5\ML\Project\dataset\Dataset3JokeSet.xlsx"

# Read the Excel file with one column and no header
df = pd.read_excel(excel_file_path, header=None)

# Drop the first 100 rows
df = df.iloc[100:, :]

# Create a new DataFrame with 'Joke Number' starting from 1
new_df = pd.DataFrame({'Joke Number': range(1, len(df) + 1), 'Text': df.iloc[:, 0]})

# Save the result to a new CSV file
new_df.to_csv('test_joke_text.csv', index=False)

# Display the new DataFrame
print(new_df)

     Joke Number                                               Text
100            1  Did you hear about the Buddhist who refused No...
101            2  A man escaped jail by digging a hole from his ...
102            3  Nurse: Doctor, Doctor, there's an invisible ma...
103            4  As a pre-med student, I had to take a difficul...
104            5  A couple of hunters are out in the woods in th...
105            6  An engineer dies and reports to the pearly gat...
106            7  (A) The Japanese eat very little fat and suffe...
107            8  A man approached a very beautiful woman in a l...
108            9  "Do you believe in life after death?" the boss...
109           10  One day, a professor was giving a big test to ...
110           11  A new business was opening and one of the owne...
111           12  When my three-year-old son opened the birthday...
112           13  The new employee stood before the paper shredd...
113           14  Sherlock Holmes and Dr. Watson go on a camping...
114           15  A lady bought a new Lexus. It cost a bundle. T...
115           16  A man in a hot air balloon realized he was los...
116           17  A man joins a big corporate empire as a traine...
117           18  A man goes into a drug store and asks the phar...
118           19  One day the first grade teacher was reading th...
119           20  Judy was having trouble with her computer, so ...
120           21  A drunk staggers into a Catholic Church, enter...
121           22  An astronomer, a physicist and a mathematician...
122           23  When most people claim to be "killing time", i...
123           24  Person 1: Hey, wanna hear a great knock-knock ...
124           25  An American tourist goes into a restaurant in ...
125           26  A Briton, a Frenchman and a Russian are viewin...
126           27  A little boy goes to his dad and asks, "What i...
127           28  An American, a Scot and a Canadian were in a t...
128           29  A group of girlfriends is on vacation when the...
129           30  An old man goes to the doctor for his yearly p...
130           31  A guy had been feeling down for so long that h...
131           32  Mickey Mouse is having a nasty divorce with Mi...
132           33  The new employee stood before the paper shredd...
133           34  An artist asked the gallery owner if there had...
134           35  A guy walked past a mental hospital and heard ...
135           36  A man went to apply for a job. After filling o...
136           37  Deep within a forest, a little turtle began to...
137           38  WASHINGTON (Reuters) - A tragic fire on Monday...
138           39  In a Veteran's Day speech, President Bush vowe...
139           40  Chuck Norris' calendar goes straight from Marc...
140           41  Jack Bauer can get McDonald's breakfast after ...
141           42  One day, three men went to a shrine to ask the...
142           43  A preist, a 12-year-old kid, and the smartest ...
143           44  A man is driving in the country one evening wh...
144           45  A blonde, brunette, and a red head are all lin...
145           46  America: 8:00 - Welcome to work! 12:00 - Lunch...
146           47  It was the day of the big sale. Rumors of the ...
147           48  Recently a teacher, a garbage collector, and a...
148           49  A little girl asked her father, "Daddy? Do all...
149           50  In an interview with David Letterman, Carter p...

# To ensure the jokes are new

In [109]:
import pandas as pd

# Load the CSV files
test_joke_df = pd.read_csv(r'C:\Users\ameyd\Desktop\IIITD\SEM 5\ML\Project\dataset\test_joke_text.csv')
joke_df = pd.read_csv(r'C:\Users\ameyd\Desktop\IIITD\SEM 5\ML\Project\dataset\joke_text.csv')

# Merge the dataframes on the 'Text' column
merged_df = pd.merge(test_joke_df, joke_df, on='Text', how='inner')

# Display the matches
print("Matching entries:")
print(merged_df[['Joke Number_x', 'Text', 'Joke Number_y']])

Matching entries:
Empty DataFrame
Columns: [Joke Number_x, Text, Joke Number_y]
Index: []